$colorPrincipalTransparente: #1b1b1bc8;
$colorPrincipalTransparenteCero: #1b1b1b00;
$colorGrisClaro: #b1b1b1;
$colorFondoTransparente: #18181893;
$ruta: "../../public/imagenes";

//Colores
$colorPrincipalClaro: #222121;
$colorSecundario: #8e6d45;
$colorPrincipal: #1b1b1b;
$colorPrincipalOscuro: #0e0e0e;
$colorPrincipalTransparenteCero: #1b1b1b00;

$colorFondoClaro: #181818;
$colorFondoOscuro: #292929;
$colorPrincipalTransparente: #0000008e;
$colorGris: #ffffff80;
$colorDoradoClaro: #e6d5b3;
$colorDorado: #ebb472;
$colorNegro :#000000;
$colorOscuro :#111111;

$colorTerciario: #222121;
$colorResalte: #e6d5b3;
$colorFondo: #292929;

$colorTitulo: #c39b6a; /* Color del título de los servicios */
$colorSecundarioOscuro: #463623;

//Colores de centro de control de usuario

$fondoGeneral: #fdfaf3;
$formulario: #f8f5f5;
$textoPrincipal: #1e1e1e;
$colorDoradoNuevoResaltado: #c49b45 ;
$colorDoradoNuevo: #5a4b2c ;