// Rutas
$ruta: "../../public/imagenes";

// Colores base
$colorNegro: #000000;
$colorOscuro: #111111;
$colorPrincipalOscuro: #0e0e0e;
$colorPrincipal: #1b1b1b;
$colorPrincipalClaro: #222121;
$colorTerciario: $colorPrincipalClaro;

// Tonos dorados
$colorDorado: #ebb472;
$colorDoradoClaro: #e6d5b3;
$colorDoradoNuevo: #5a4b2c;
$colorDoradoNuevoResaltado: #c49b45;
$colorTitulo: #c39b6a; // Color del título de los servicios
$colorResalte: $colorDoradoClaro;

// Grises
$colorGris: #ffffff80;
$colorGrisClaro: #b1b1b1;
$colorGrisMedio: lighten($colorGrisClaro, 15%); // gris intermedio
$colorGrisOscuro: darken($colorGrisClaro, 15%);

// Fondos
$colorFondoClaro: #181818;
$colorFondoOscuro: #292929;
$colorFondo: $colorFondoOscuro;
$colorFondoTransparente: rgba(24, 24, 24, 0.58); // más legible que #18181893

// Transparencias principales
$colorPrincipalTransparente: rgba(27, 27, 27, 0.78); // equivalente a #1b1b1bc8
$colorPrincipalTransparenteCero: rgba(27, 27, 27, 0);

// Colores secundarios
$colorSecundario: #8e6d45;
$colorSecundarioOscuro: #463623;
$colorSecundarioClaro: lighten($colorSecundario, 20%);

// Centro de control de usuario
$fondoGeneral: #fdfaf3;
$formulario: #f8f5f5;
$textoPrincipal: #1e1e1e;

// Nuevas variables para sombras y estados
$sombraLigera: rgba($colorNegro, 0.15);
$sombraMedia: rgba($colorNegro, 0.3);
$sombraFuerte: rgba($colorNegro, 0.6);

$hoverDorado: darken($colorDorado, 10%);
$activeDorado: darken($colorDorado, 20%);

$hoverSecundario: darken($colorSecundario, 10%);
$activeSecundario: darken($colorSecundario, 20%);

// Variables para textos
$textoClaro: #fafafa;
$textoOscuro: #222222;
