$colorPrincipalTransparente: #1b1b1b98;
$colorPrincipalTransparenteCero: #1b1b1b00;
$colorGrisClaro: #ffffff2f;
$colorFondoTransparente: #18181893;
$ruta: "../../public/imagenes";

//Colores
$colorPrincipalClaro: #222121;
$colorPrincipal: #1b1b1b;
$colorPrincipalOscuro: #181818;
$colorPrincipalTransparenteCero: #1b1b1b00;

$colorFondoClaro: #3b3b3b;
$colorFondoOscuro: #292929;
$colorPrincipalTransparente: #0000008e;
$colorSecundario: #8e6d45;
$colorGris: #ffffff80;
$colorDoradoClaro: #e6d5b3;
$colorDorado: #ebb472;
$colorNegro :#222121;