// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

//RESET CSS
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    padding: 0;
    margin: 0;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px rgb(27, 27, 27) inset !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.4) !important;
    color: rgba(255, 255, 255, 0.5);
}
//ESTILOS DESARROLLO
.colorRojo {
    background-color: red;
    color: white;
}

//ESTILOS PROYECTO
a {
    text-decoration: none;
    color: $colorGris;
}

.bg-color-principal {
    background-color: $colorPrincipal;
}

.bg-color-secundario {
    background-color: $colorSecundario;
}

.bg-color-fondo {
    background-color: $colorFondoClaro;
}

.texto-color-principal {
    color: $colorGris;
}

.texto-color-secundario {
    color: $colorSecundario;
}

.imagen-logo {
    background-image: url($ruta + "/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
